//---------------------------
// COLORS
//---------------------------

@color-dark-grey: #3D3D3D;
@color-white: #FFFFFF;
@color-onenorth-red: #cd1820;
@color-onenorth-font: #f5d1d2;
@color-border: #464646;
@nav-section-bg:#FFF;
@color-navtext: #A1A1A1;
@color-navtext-active: #EBEBEB;
@color-navicon: #A1A1A1;
@color-navicon-active: #EBEBEB;

//---------------------------
// MIXINS
//---------------------------

.clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

//---------------------------
// HTML ELEMENTS
//---------------------------

html, body {
  height: 100%;
}

body {
  background-color: @color-dark-grey;
}

//---------------------------
// CONTAINER
//---------------------------

.container {
  @media screen and (min-width: 768px) {
    max-width: 100%;
  }
}

//---------------------------
// PAGE WRAPPER (#wrap)
//---------------------------

#wrap {
  .clearfix();

  height: 100%;
  background: @color-white;
}

//---------------------------
// HEADER (e.g., logo area)
//---------------------------

#header {
  background-color: @color-onenorth-red;
}

.navbar-brand {
  background-image: url('/images/One_North_Horizontal.svg');
  background-size: contain;
  font-size: 0;
  height: 50px;
  width: 140px;
  background-position: 50%;
}

.navbar-default {
  background-color:unset;
}

#header .navbar-backtobrand-message, #header .navbar-backtobrand-trigger {
  background-color: @color-onenorth-red;
  color: @color-onenorth-font;
}

//---------------------------
// SIDEBAR NAV
//---------------------------

#sidebar {
  float:left;
  height: 100%;
  width: 250px;
  background: @color-dark-grey;

  //@media screen and (min-width: 768px) {
  //  width: 25%;
  //}

  //@media screen and (min-width: 1200px) {
   // width: 20%;
  //}
}

  .nav-text {
    color: @color-navtext;
    font-size: 13px;
  }

	a:hover .nav-text,
  .active.section .section .nav-text,
	.active.list .nav-text {
	  color: @color-navtext-active;
	}

  .nav-icon svg,
  .nav-toggle svg,
  {
    fill: @color-navicon;
  }

	a:hover .nav-icon svg,
	.active .nav-icon svg {
	  fill: @color-navicon-active;
	}

  .sidebar-collapse #sidebar {
    width: 70px;
  }

  .sidebar-collapse .nav-text {
    display: none;
  }

  .sidebar ul {
    list-style-type: none;
    list-style-position: outside;
    margin: 0 15px;
    padding: 0;
  }

  .sidebar .section {
    margin: 0;
    padding: 0;
    border-top: 1px solid @color-border;
    float:none;

    &:first-child {
    	border: 0;
    }

	&.active .section {
		background-color: @color-border;
  	}
  }

  .sidebar a {
    display: inline-block;
    padding: 10px 0;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 25px;
  }

  .sidebar .lists {
    border: 0;
    margin: 0 0 20px 40px;
    padding: 0;
    display:none;
  }

  	.sidebar-collapse .section.expand .lists {
  	  display:none;
  	}

    .section.expand .lists {
      display:block;
    }

      .sidebar .lists a {
        padding: 0;
        text-transform: none;
      }

.footer {
  padding: 100px 0 0 0;
}

  .footer a {
    padding: 0;
  }

  .footer p {
    text-align: center;
  }



//---------------------------
// NAV ICONS
//---------------------------

#sidebar .nav-icon {
  float: left;
  width: 20px;
  height: 20px;
  fill: #FAFAFA;
  margin: 0 10px;
}

.nav-icon-expand {
  display: none;
}

  .sidebar-collapse .nav-icon-expand {
    display: block;
  }

.nav-icon-collapse {
  display: block;
}

  .sidebar-collapse .nav-icon-collapse {
    display: none;
  }

#sidebar .nav-toggle {
  float: right;
  width: 20px;
  height: 20px;
  fill: #FAFAFA;
  margin: 12px 6px 0 0;
}
  .sidebar-collapse #sidebar .nav-toggle {
	display: none;
  }

  .collapse-lists-icon {
	display: none;
  }

  .expand .collapse-lists-icon {
	display: block;
  }

  .expand .expand-lists-icon {
	display: none;
  }

//---------------------------
// CONTENT
//---------------------------

#content {
  float: left;
  width: ~"calc(100% - 250px)";
  margin-top: 0;
  padding: 0.5em 2em;
  background: @color-white;


  //@media screen and (min-width: 768px) {
  //  width: 75%;
  //}

  //@media screen and (min-width: 1200px) {
  //  width: 80%;
  //}
}

  .sidebar-collapse #content {
    width:  ~"calc(100% - 70px)";
  }

//---------------------------
// FOOTER
//---------------------------

#footer {
  clear: both;
  margin-top: 0;
}

//---------------------------
// NAV SECTIONS (Admin Landing Page)
//---------------------------

.nav-section {
  padding-right: 1em;

  h4 {
	border-bottom: 1px solid rgba(0,0,0,0.04);
	padding-bottom: 10px;
  }

  a {
	color: @gray;
  }
}

.nav-section__wrapper {
  border-radius: @border-radius-base;
  box-shadow: inset 0px 0px 1px;
  color: rgba(0,0,0,0.15);
  padding: 1em;
  background-color: @nav-section-bg;

  &:hover {
	color: rgba(0,0,0,0.35);
  }
}

// LISTS
.keystone-lists__wrapper {
  display: flex; // columns on admin landing page
}

.btn.btn-create {
  #gradient .vertical( lighten(@link-color, 4%), darken(@link-color, 4%), 0%, 100% );
  border-color: lighten(@link-color, 4%) @link-color darken(@link-color, 4%);
  box-shadow: none;
  color: white;

  &:hover,
  &:focus {
	#gradient .vertical( lighten(@link-color, 8%), @link-color, 0%, 100% );
	border-color: lighten(@link-color, 8%) lighten(@link-color, 4%) @link-color;
	box-shadow: none;
  }

  &:active,
  &.active {
	background: @link-color;
	border-color: darken(@link-color, 8%) darken(@link-color, 4%) @link-color;
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.25);
  }
}
